@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@inject AppSettings AppSettings
@{
    ViewData["Title"] = "Home Page";
}

@if (HttpContextAccessor.HttpContext!.Session.GetString("msg") != null)
{
    <div style="background-color: yellow">
        @HttpContextAccessor.HttpContext.Session.GetString("msg")
    </div>
}


<div class="text-center">
    <h1 class="display-4">SMTPAddress = @ViewBag.SMTPAddress</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<h1>SMTPUsername: @AppSettings.SMTPUsername</h1>

<h1>SMTPPassword: @AppSettings.SMTPPassword</h1>